.logo {
  font-size: 60px;
  margin-left: 20px;
}
.chat {
  font-size: 25px;
}
.bell {
  font-size: 30px;
}
.profile {
  font-size: 50px;
}
.row-elements {
  align-items: center;
  justify-content: center;
}
.column-elements {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 30px;
}
.column-profile {
  margin-right: 20px;
}
